.projects {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.project__project {
  width: 100%;

  padding: 0 0 $d-duoHalf;

  @include bp($bp-tablet) {
    padding: $d-quad $d-quad;
    width: 50%;
  }

  @include bp($bp-laptop) {
  }

  @include bp($bp-desktop) {
    flex-basis: 800px;
    max-width: 800px;
    padding: $d-quin $d-quin;
  }

  @include bp($bp-widescreen) {
    margin: $d-sep $d-sex;
    padding: 0;
  }

}

.project__link {
  display: block;
  width: 100%;
}

