---
layout: default
---

<header class="padded-x header is-fixed">

  {% include nav.html %}

</header>

<main class="main" id="js-main">

  <section class="padded-x projects">

    {% assign sorted_projects = site.projects | sort:"position" %}

    {% for project in sorted_projects %}

    {% assign height = project.thumbnail.height | plus: 0.0 %}
    {% assign width = project.thumbnail.width | plus: 0.0 %}
    {% assign ratio = height | divided_by: width %}
    {% assign percent = ratio | times: 100 %}

    <article class="project__project">

        <a class="project__link anchor--with-target" href="{{ project.url | prepend: site.baseurl }}">

          <figure class="project__thumb ratio-container" style="height: {{ height }}px; width: {{ width }}px; padding-bottom: {{ percent }}%" >

            <img class="project__thumb lazyload" data-src="{{ project.thumbnail.image }}" />

          </figure>

          <h2 class="project__text anchor__target">

            {{ project.title }}

          </h2>

        </a>

      </article>

    {% endfor %}

  </section>

</main>
