---
layout: default
---

<header class="padded-x header">

  {% include brand.html %}

  {% include title.html %}

  {% include nav.html %}

</header>

<main class="main" id="js-main">

  <section class="padded-x projects">

    {% for project in site.projects %}

      <article class="project__project">

        <a class="project__link anchor--with-target" href="{{ project.url | prepend: site.baseurl }}">

          <img class="project__image" src="{{ project.thumbnail.image }}" />

          <h2 class="project__text anchor__target">{{ project.title }}</h2>

        </a>

      </article>

    {% endfor %}

  </section>

</main>
