---
layout: default
---

<header class="padded-x header is-fixed">

  {% include nav.html %}

</header>

<main class="main" id="js-main">

  <section class="padded-x projects">

    {% assign sorted_projects = site.projects | sort:"position" %}

    {% for project in sorted_projects %}

      <article class="project__project">

        <a class="project__link anchor--with-target" href="{{ project.url | prepend: site.baseurl }}">

          {% comment %}
          <figure class="project__thumb ratio-container unknown-ratio-container">
          {% endcomment %}

          <img class="lazyload project__thumb" data-src="{{ project.thumbnail.image }}" />

          {% comment %}
          </figure>
          {% endcomment %}

          <h2 class="project__text anchor__target">{{ project.title }}</h2>

        </a>

      </article>

    {% endfor %}

  </section>

</main>
