
{% assign sorted_projects = site.projects | sort:"position" %}
{% for project in sorted_projects %}
  {% if project == page %}
    {% assign next_project_index = forloop.index %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign next_project = sorted_projects[next_project_index] %}

{% if next_project %}

  {% assign next = next_project.url %}

{% else %}

  {% assign next = sorted_projects[0].url %}

{% endif %}

<nav class="padded-x padded-y nextprev">

  <a class="next" href="{{next}}">Next Project</a>

</nav>

