.header {
  z-index: index($l-site, header);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: flex-end;
  pointer-events: none;
  height: $d-header-height-mobile;
  padding-bottom: $d-quad;
  @include bp($bp-tablet) {
    height: $d-header-height;
  }

  a {
    pointer-events: auto
  }

  &.is-fixed {
    position: fixed;
  }
}

