/* =========================================
Links/Anchor Component
========================================= */

a,
.anchor__target {
  display: inline-block;
  outline: none;
  color: inherit;
  text-decoration: inherit;
  color: $ca-anchor-color;
  font-weight: $t-font-weight-regular;
  transition: all $a-timing $a-easing;
  position: relative;

  & > .anchor__target:after,
  &:not(.anchor--with-target):after {
    content: '';
    position: absolute;
    top: auto;
    bottom: 2px;
    left: 0;
    right: 0;
    height: 1px;
    background: currentColor;
    opacity: 0;
  }

  &:hover {
    color: $ca-anchor-hover-color;
    & > .anchor__target:after,
    &:after {
      opacity: 1;
    }
  }
}
