/* =========================================
Links/Anchor Component
========================================= */

a,
.link {
  display: inline-block;
  outline: none;
  color: inherit;
  text-decoration: inherit;
  color: $ca-anchor-color;
  font-weight: $t-font-weight-regular;
  transition: all $a-timing $a-easing;
  position: relative;

  &:hover,
  &:focus,
  &.is-active {
    color: $ca-anchor-hover-color;
  }

  &.is-active {
    &:focus,
    &:hover {
      color: $ca-anchor-color;
    }
  }
}
