---
layout: default
---

<header class="padded-x header">

  {% include title.html %}

</header>

<header class="padded-x header is-fixed">

  {% include close.html %}

</header>

<main class="main" id="js-main">

<article class="padded-x page" itemscope itemtype="http://schema.org/BlogPosting">

  <div class="content format post__content" itemprop="articleBody">

    {% for image in page.images %}

    <figure class="ratio-container project__image">

      <img data-src="{{ image }}" class="lazyload" />

    <figure>

    {% endfor %}

    {{ content }}

  </div>

</article>

{% include nextprev.html %}

</main>
