---
layout: default
---

<header class="padded-x header">

  {% include title.html %}

</header>

<header class="padded-x header is-fixed">

  {% include close.html %}

</header>

<main class="main" id="js-main">

<article class="page" itemscope itemtype="http://schema.org/BlogPosting">

  {% for image in page.images %}

  <figure class="project__image
    lazyload
    ">

    <img data-src="{{ image }}" class="lazyload" />

  </figure>

  {% endfor %}

  <div class="padded-x content format project__content" itemprop="articleBody">

    {{ content }}

  </div>

</article>

{% include nextprev.html %}

</main>
