.padded-y {
  padding-top: $d-duoHalf;
  padding-bottom: $d-duoHalf;
  @include bp($bp-tablet) {
    padding-top: $d-trio;
    padding-bottom: $d-trio;
  }
}

.padded-x {
  padding-left: $d-duoHalf;
  padding-right: $d-duoHalf;
  @include bp($bp-tablet) {
    padding-left: $d-trio;
    padding-right: $d-trio;
  }
}
