/* =========================================
Basic/Global Typography
========================================= */

body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $t-font-family-serif;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  @include responsive-font(2.5vw, 20px, 100px, 28px);
  //
  // @include bp($bp-tablet) {
  //   font-size: 24px;
  // }
  //
  // @include bp($bp-laptop) {
  //   font-size: 28px;
  // }
  //
  // @include bp($bp-desktop) {
  //   font-size: 32px;
  // }

}

.serif {
  font-family: $t-font-family-serif !important
}

b,
strong,
.font-weight-bold,
.strong {
  font-weight: $t-font-weight-bold !important;
}

em,
i {
  font-family: $t-font-family-serif-italic !important
}


.format {
  text-align: left;

  li,
  ul {
    &,
    & > p {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }

  ul,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: 1.5em;
  }
}


